@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a href="Home/create">Crée film</a>

    ¸!--bonne facon pour le lien vers actions-->
    @Html.ActionLink("Crée film", "Create")
</div>
